<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{users/layouts/layouts}">
<body>
<div class="footer_wrapper m24_cover" layout:fragment="footer">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 col-12 col-sm-12">
						<div class="footer_widget footer_about_wrapper m24_cover">
							<div class="wrapper_first_image">
								<a href="index.html"><img src="users/images/logo.png"
									class="img-responsive" alt="logo" /></a>
							</div>
							<div class="abotus_content">
								<p>Sed do eiusmod tempor unt ut labore et dolore magna
									liqua. Ut enim ad minim veniam...</p>
							</div>
							<ul class="footer_about_link_wrapper m24_cover">
								<li><i class="fa fa-phone"></i>808 - 111 - 9999</li>
								<li><a href="#"><i class="fa fa-envelope"></i>anonymous@example.com</a></li>
								<li><a href="#"><i class="fas fa-user-alt"></i>anonymous@support.com</a></li>
							</ul>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12 col-sm-12">
						<div class="footer_widget footer_blog_wrapper m24_cover">
							<h4>usefull links</h4>
							<ul class="footer_about_link_wrapper usefull_linkx m24_cover">

								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy </a></li>
								<li><a href="#">Feedback </a></li>

								<li><a href="#">Report an issue </a></li>
								<li><a href="#"> Sitemap </a></li>
								<li><a href="#"> FAQ </a></li>
								<li><a href="#"> advertise </a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12 col-sm-12">
						<div class="footer_widget footer_contact_wrapper m24_cover">
							<h4>download app</h4>
							<p>All type of app’s available for download</p>
							<span><a href="#"><img src="users/images/app_btn1.png"
									class="img-responsive" alt="img"></a></span> <span><a
								href="#"><img src="users/images/app_btn2.png"
									class="img-responsive" alt="img"></a></span> <span><a
								href="#"><img src="users/images/app_btn3.png"
									class="img-responsive" alt="img"></a></span>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12 col-sm-12">
						<div class="footer_widget footer_contact_wrapper m24_cover">
							<h4>newsletter</h4>
							<p>Our latest news & Special Offers</p>
							<div class="contect_form_footer m24_cover">
								<input type="text" name="name" placeholder="name">
							</div>
							<div class="contect_form_footer m24_cover">
								<input type="text" name="email" placeholder="Email">
							</div>
							<div class="lang_apply_btn footer_cont_btn">
								<ul>
									<li><a href="#"> <i class="flaticon-play-button"></i>subscribe
									</a></li>
								</ul>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="foter_top_wrapper m24_cover">
			<div class="container">
				<ul>
					<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

					<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
					<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
					<li><a href="#"><i class="fab fa-tumblr"></i></a></li>
					<li><a href="#"><i class="fab fa-behance"></i></a></li>
					<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
					<li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="section2_bottom_wrapper m24_cover">
			<div class="container">
				<div class="row">

					<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
						<div class="btm_foter_box">

							<p>
								Copyright © 2019 <a href="index.html"> anonymous </a> Template
								designed by <a href="#"> admin.</a>
							</p>
							<div class="aboutus_social_icons">
								<a href="#">Get anonymous <i class="flaticon-play-button"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</body>
</html>