<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{users/layouts/layouts}">

<body>
	<div class="m24_navi_main_wrapper m24_cover" layout:fragment="headertop">
			<div class="container-fluid">
				<div class="m24_logo_wrapper">
					<div class="m24_logo_div">
						<a href="index.html"> <img src="/users/images/logo.png" alt="logo">
						</a>
					</div>
					<div id="toggle">
						<a href="#"><i class="flaticon-menu-1"></i></a>
					</div>
				</div>

				<div
					class="m24_header_right_Wrapper d-none d-sm-none d-md-none d-lg-none d-xl-block">
					<div class="m24_signin_wrapper">
						<a href="#" data-toggle="modal" data-target="#login_modal">
						<img
							src="users/images/pf.png" alt="img">
							<div class="login_top_wrapper">
								<p>login/register</p>

							</div> 
							
							</a>
						
					</div>
				
					<div class="crm_message_dropbox_wrapper">
						<div class="nice-select budge_noti_wrapper" tabindex="0">
							<span class="current budge_noti"><i class="flaticon-bell"></i></span>

							<ul class="list pullDown">
								<li><a href="#">3 New notifications</a></li>
								<li>
									<div class="crm_mess_main_box_wrapper">
										<div class="crm_mess_img_wrapper">
											<img src="users/images/nt1.jpg" alt="img">
										</div>
										<div class="crm_mess_img_cont_wrapper">
											<h4>
												Walking Promises <span>01:30PM</span>
											</h4>
											<p>Ava Cornish</p>
										</div>
									</div>
								</li>
								<li>
									<div class="crm_mess_main_box_wrapper">
										<div class="crm_mess_img_wrapper">
											<img src="users/images/nt2.jpg" alt="img">
										</div>
										<div class="crm_mess_img_cont_wrapper">
											<h4>
												Until I Met You <span>01:30PM</span>
											</h4>
											<p>diu pokal</p>
										</div>
									</div>
								</li>
								<li>
									<div class="crm_mess_main_box_wrapper">
										<div class="crm_mess_img_wrapper">
											<img src="users/images/nt3.jpg" alt="img">
										</div>
										<div class="crm_mess_img_cont_wrapper">
											<h4>
												merry with you<span>01:30PM</span>
											</h4>
											<p>love song</p>
										</div>
									</div>
								</li>

								<li>
									<div class="crm_mess_all_main_box_wrapper">
										<p>
											<a href="#">See All</a>
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="m24_navigation_wrapper">
					<div
						class="mainmenu d-xl-block d-lg-block d-md-none d-sm-none d-none">
						<ul class="main_nav_ul">

							<li class="has-mega gc_main_navigation"><a href="#"
								class="gc_main_navigation">browse <i
									class="flaticon-down-arrow"></i></a>
								<ul class="navi_2_dropdown">
									<li class="parent"><a href="add_playlist.html"><i
											class="fas fa-caret-right"></i>featured playlist</a></li>
									<li class="parent"><a href="artist.html"><i
											class="fas fa-caret-right"></i>top artists</a></li>
									<li class="parent"><a href="genres.html"><i
											class="fas fa-caret-right"></i>new genres</a></li>
									<li class="parent"><a href="album.html"><i
											class="fas fa-caret-right"></i>all albums</a></li>
									<li class="parent"><a href="album_list.html"><i
											class="fas fa-caret-right"></i>weekly tops</a></li>
								</ul></li>
							<li><a href="stations.html" class="gc_main_navigation">radio</a></li>
							<li class="has-mega gc_main_navigation"><a href="#"
								class="gc_main_navigation">more <i
									class="flaticon-down-arrow"></i></a>
								<ul class="navi_2_dropdown">
									<li class="parent"><a href="contact_us.html"><i
											class="fas fa-caret-right"></i>contact</a></li>
									<li class="parent"><a href="pricing_plan.html"><i
											class="fas fa-caret-right"></i> pricing plan </a></li>
									<li class="parent"><a href="error_page.html"><i
											class="fas fa-caret-right"></i> error page </a></li>
									<li class="parent"><a href="favourite.html"><i
											class="fas fa-caret-right"></i> favourite song </a></li>
								</ul></li>

						</ul>
					</div>
					<!-- mainmenu end -->
					<div class="navi_searchbar_wrapper">
						<i class="flaticon-magnifying-glass"></i> <input type="text"
							id="justAnotherInputBox"
							placeholder="Search for Songs, Artists, Playlists and More.." />
					</div>
					<div class="d-block d-sm-block d-md-block d-lg-block d-xl-none">
						<div class="search_bar">
							<div class="res_search_bar" id="search_button">
								<i class="fa fa-ellipsis-v"></i>
							</div>
							<div id="search_open" class="res_search_box">

								<div class="lang_list_wrapper responsive_search_toggle">
									<a href="#" data-toggle="modal" data-target="#myModal">languages
										<i class="fas fa-language"></i>
									</a>
								</div>
								<div class="m24_signin_wrapper responsive_search_toggle">

									<a href="#" data-toggle="modal" data-target="#login_modal"><img
										src="/users/images/pf.png" alt="img">
										<div class="login_top_wrapper">
											<p>login/register</p>

										</div> 
										
										</a>
								</div>
								<div
									class="crm_message_dropbox_wrapper responsive_search_toggle">
									<div class="nice-select budge_noti_wrapper" tabindex="0">
										<span class="current budge_noti"><i
											class="flaticon-bell"></i></span>
										<p class="notify_para">notifications</p>

										<ul class="list">
											<li><a href="#">3 New notifications </a></li>
											<li>
												<div class="crm_mess_main_box_wrapper">
													<div class="crm_mess_img_wrapper">
														<img src="/users/images/nt1.jpg" alt="img">
													</div>
													<div class="crm_mess_img_cont_wrapper">
														<h4>
															Walking Promises <span>01:30PM</span>
														</h4>
														<p>Ava Cornish</p>
													</div>
												</div>
											</li>
											<li>
												<div class="crm_mess_main_box_wrapper">
													<div class="crm_mess_img_wrapper">
														<img src="/users/images/nt2.jpg" alt="img">
													</div>
													<div class="crm_mess_img_cont_wrapper">
														<h4>
															Until I Met You <span>01:30PM</span>
														</h4>
														<p>diu pokal</p>
													</div>
												</div>
											</li>
											<li>
												<div class="crm_mess_main_box_wrapper">
													<div class="crm_mess_img_wrapper">
														<img src="/users/images/nt3.jpg" alt="img">
													</div>
													<div class="crm_mess_img_cont_wrapper">
														<h4>
															merry with you<span>01:30PM</span>
														</h4>
														<p>love song</p>
													</div>
												</div>
											</li>

											<li>
												<div class="crm_mess_all_main_box_wrapper">
													<p>
														<a href="#">See All</a>
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="m24_navi_langauage_box">
						<div class="theme-switch-wrapper">
							<label class="theme-switch" for="checkbox"> <input
								type="checkbox" id="checkbox" /> <span class="slider round"></span>
							</label>
						</div>
						<div
							class="lang_list_wrapper d-none d-sm-none d-md-none d-lg-none d-xl-block">
							<a href="#" data-toggle="modal" data-target="#myModal">languages
								<i class="fas fa-language"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
</body>
</html>