<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{users/layouts/layouts}">
<body>
<div class="modal fade lang_m24_banner" id="myModal" role="dialog" layout:fragment="language">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">

						<div class="m24_language_box m24_cover">
							<h1>Language Selection</h1>
							<p>Please select the language(s) of the music you listen to.</p>
						</div>
						<div class="lang_list_checkbox">
							<ul>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c1" name="cb"> <label
											for="c1">हिंदी <span>Hindi</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c2" name="cb"> <label
											for="c2">English <span>English</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c3" name="cb"> <label
											for="c3">पंजाबी <span>Punjabi</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c4" name="cb"> <label
											for="c4">தமிழ் <span>tamil</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c5" name="cb"> <label
											for="c5">राजस्थानी <span>Rajasthani</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c6" name="cb"> <label
											for="c6">हरयाणवी <span>Haryanvi</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c7" name="cb"> <label
											for="c7">ગુજરાતી <span>Gujarati</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c8" name="cb"> <label
											for="c8">भोजपुरी <span>Bhojpuri</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c9" name="cb"> <label
											for="c9">മലയാളം <span>Malayalam</span>
										</label>
									</p>
								</li>
								<li>
									<p class="music_field_box">
										<input type="checkbox" id="c10" name="cb"> <label
											for="c10">मराठी <span>marathi</span>
										</label>
									</p>
								</li>
							</ul>
						</div>

						<div class="lang_apply_btn_wrapper m24_cover">
							<div class="lang_apply_btn">

								<a href="#">apply</a>

							</div>
							<div class="cancel_wrapper">
								<a href="#" class="" data-dismiss="modal">cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>