<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{users/layouts/layouts}">
<body>
		<!-- slider wrapper start -->
		<div class="main_slider_wrapper slider-area" layout:fragment="slide">
			<div class="slider_side_width"></div>
			<div class="slider_headphone">
				<img src="/users/images/headphone.png" class="img-responsive" alt="img">
			</div>
			<div id="carousel-example-generic" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<div class="carousel-captions caption-1">
							<div class="container jn_container">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="content">

											<h1 data-animation="animated fadeInUp">sound,</h1>

											<h2 data-animation="animated fadeInUp">your world</h2>
											<p data-animation="animated fadeInUp">
												Even while listening to music, simply say “Olivia” <br>
												to interact with Olivia.
											</p>
											<div class="slider_btn m24_cover">
												<div class="lang_apply_btn">
													<ul>
														<li data-animation="animated fadeInUp"><a href="#">
																<i class="flaticon-play-button"></i>browse
														</a></li>
													</ul>

												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="content_img_wrapper">
											<img src="/users/images/banner2.jpg" alt="img">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-captions caption-2">
							<div class="container jn_container">
								<div class="row">

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="content">

											<h1 data-animation="animated fadeInUp">sound,</h1>

											<h2 data-animation="animated fadeInUp">your world</h2>
											<p data-animation="animated fadeInUp">
												Even while listening to music, simply say “Olivia” <br>
												to interact with Olivia.
											</p>
											<div class="slider_btn m24_cover">
												<div class="lang_apply_btn">
													<ul>
														<li data-animation="animated fadeInUp"><a href="#">
																<i class="flaticon-play-button"></i>browse
														</a></li>
													</ul>

												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="content_img_wrapper">
											<img src="/users/images/banner.jpg" alt="img">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="carousel-captions caption-3">
							<div class="container jn_container">
								<div class="row">

									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="content">

											<h1 data-animation="animated fadeInUp">sound,</h1>

											<h2 data-animation="animated fadeInUp">your world</h2>
											<p data-animation="animated fadeInUp">
												Even while listening to music, simply say “Olivia” <br>
												to interact with Olivia.
											</p>
											<div class="slider_btn m24_cover">
												<div class="lang_apply_btn">
													<ul>
														<li data-animation="animated fadeInUp"><a href="#">
																<i class="flaticon-play-button"></i>browse
														</a></li>
													</ul>

												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="content_img_wrapper">
											<img src="/users/images/banner2.jpg" alt="img">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0"
							class="active"><span class="number"></span></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"
							class=""><span class="number"></span></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"
							class=""><span class="number"></span></li>
					</ol>
					<div class="carousel-nevigation">
						<a class="prev" href="#carousel-example-generic" role="button"
							data-slide="prev"> <span> prev</span> <i
							class="flaticon-arrow-1"></i>
						</a> <a class="next" href="#carousel-example-generic" role="button"
							data-slide="next"> <span> next</span> <i
							class="flaticon-arrow"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!--slider wrapper end-->




</body>
</html>